.idea
# Python cache files
__pycache__/
*.pyc

/datasets

# Virtual environment
venv/
.env

# Logs
*.log
/logs

# Compiled python files
/*.pyc

# Environment variables
/.env

# Dependency directories
env/
lib/
lib64/
